:root {
    --c1: rgb(244, 236, 216);
    --c2: rgb(91, 70, 54);
    --c3: rgb(0, 0, 255);
}

body {
    background-color: var(--c1);
    color: var(--c2);
    font-size: 22px;
    text-align: center;
    touch-action: none;
}

input {
    outline: 0;
    width: 50px;
    text-align: center;
}

button, .button, input {
    background-color: var(--c1);
    border: 1px solid var(--c2);
    color: var(--c2);
    padding: .5em 1em;
    border-radius: 3px;
    font-weight: bold;
}

button.active {
    border: 3px solid var(--c3);
}

.view {
    display: flex;
    text-align: left;
    padding: .5em 0;
}

my-app {
    display: block;
    max-width: 1080px;
    margin: auto;
}

@media (max-width: 769px) {
    #notes > div {
        max-width: max-content;
        display: block;
    }
    .view {
        display: block;
    }
}

.right {
    text-align: right;
}

#notes > div {
    border-radius: 3px;
    max-width: 150px;
    border: 1px solid var(--c2);
    display: inline-block;
    padding: .5em;
    margin: .5em;
    font-size: smaller;
}

#content {
    width: 100%;
    overflow: auto;
    display: none;
}

#content pre {
    outline: 0;
    border-top: 1px solid var(--c2);
    border-bottom: 1px solid var(--c2);
    padding: .5em;
    margin-top: 5px;
    white-space: break-spaces;
}

#content img {
    border: 1px solid var(--c2);
}

#tool {
    position: absolute;
    background-color: var(--c1);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: .5em;
}
#tool canvas {
    border: 1px solid var(--c2);
    margin-top: .5em;
}

#tool-pencil {
    background-color: var(--c2);
}

#tool-eraser {
    background-color: transparent;
}

#content-delete {
    margin-right: 3em;
}